# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db

# Editors/IDEs
.vscode/
.idea/
*.swp

# Node
node_modules/
dist/
build/
.cache/
coverage/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Java
*.class

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
*.egg-info/

# Java/Maven/Gradle
target/
.gradle/

# Ruby
.bundle/

# Go
bin/

# Packages
*.jar

# Unit test reports
TEST*.xml

# Applications
*.app
*.exe
*.war

# Logs & env
*.log
.env
.env.*

# Large media files (optional)
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv

# Local Netlify folder
.netlify

# TypeScript build info
*.tsbuildinfo

# Local data files
week2-api/data/vendors.json
week3-api/data/vendors.json
week4-api/data/vendors.json
